{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Chat App</h2>

    <div class="row">

        <div class="col-sm-4"></div>
        <div class="col-md-8">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>

            {{ form_start(loginForm) }}

            <div class="col-md-5 center">
                {{ form_widget(loginForm) }}
            </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <a id="reg-btn" href="{{ path('user_register') }}">Register</a>

    {{ form_end(loginForm) }}


{% endblock %}