<?php

$wrenStandards = require_once('vendor/wren/dev-tools/cs-fixer/.php_cs');

return $wrenStandards
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->notName('SymfonyRequirements.php')
            ->exclude(
                [
                  'assets',
                  'config',
                  'ddl',
                  'node_modules',
                  'var',
                  'vendor',
              ]
            )
            ->in(__DIR__)
    );