// Variables
@link-color: #ffff;
//@link-color-hover:  darken(@link-color, 10%);

// Usage
a,
.link {
  color: @link-color;
}
a:hover {
  color: black;
}
body {
  position: relative;
  background-color: #82baf1
}
.form-login {
  width: 100%;
  max-width: 330px;
  margin-bottom: 20px;
}
.image {
  margin-top: 10px;
  padding-top: 20px;
}
.profile-box1 {
  background-color: steelblue;
}
.profile-box2 {
  background-color: #99CDD8;
  color: black;
}
.nav-style {
  background-color: black;
  color: #818181;
}
