// Variables
@link-color: #818181; // sea blue
@link-color-hover:  darken(@link-color, 10%);

// Usage
a,
.link {
  color: @link-color;
}
a:hover {
  color: @link-color-hover;
}
.widget {
  color: #fff;
  background: @link-color;
}
body {
  position: relative;
  background: #82baf1;
}
.form-login {
  width: 100%;
  max-width: 330px;
  margin-bottom: 20px;
}
.form-label {
  margin-bottom: 10px;
}
.profile-box1 {
  background-color: steelblue;
}
.profile-box2 {
  background-color: #99CDD8;
}