{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1 class="text-center">{{ title }}</h1>

    <div class="text-center">
        <p>
            Welcome to my all new chat app!
        </p>
    </div>

    <div class="text-center">
        <p>
            its very boring here rn...
        </p>
    </div>

{% endblock %}