{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h3 class="text-center">{{ title }}</h3>

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}
        </div>
    {% endif %}

    <div class="text-center">
        <p>
            Welcome to my all new chat app!
        </p>
    </div>

    <div class="text-center">
        <p>
            its very boring here rn...
        </p>
    </div>

{% endblock %}